body {
    font-size: 22px;
}

h1, h2 {
    color: rgb(77, 77, 151);
}

p {
    color: purple;
}

p span {
    text-transform: uppercase;
    background-color: gold;
}

.gray {
    color: grey;
}

#second {
    font-style: italic;
}